﻿@model PersonalSpendingAnalysis.Models.CategoryModel

@{
    ViewBag.Title = "CategoryDetails";
}

<h2>CategoryDetails</h2>

<div>
    <h4>CategoryModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SearchString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SearchString)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
