@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    36 Cae Fardre<br />
    Church Village, Rhondda Cynon Taff<br />
    <abbr title="Phone">P:</abbr>
    +44 744 360 2212
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:hipparchus2000@gmail.com">hipparchus2000@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:hipparchus2000@gmail.com">hipparchus2000@gmail.com</a>
</address>