@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Personal Spending Analysis</h1>
    <p class="lead">Analyse your spending using charting or reports</p>
    <p><a href="https://www.talkisbetter.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Currently is only configured to understand CSV imports from Natwest.com National Westminster Bank in the UK. However other formats can be easily added.
        </p>
        <p><a class="btn btn-default" href="https://www.talkisbetter.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Charting</h2>
        <p>Pi charts and stacked column charts are used to help you understand your spending.</p>
        <p><a class="btn btn-default" href="https://www.talkisbetter.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reports</h2>
        <p>PDF reports are generated for record keeping and to help you understand your spending.</p>
        <p><a class="btn btn-default" href="https://www.talkisbetter.com">Learn more &raquo;</a></p>
    </div>
</div>